.form-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1rem;
    }
    .title-icon {
        font-size: 24px;
        margin-right: 1rem;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .divider {
        background-color: black;
        width: 100%;
        height: 1px;
    }
    label {
        font-size: 16px;
    }

    select {
        height: 2rem;
    }
}

.walk-form {
    display: grid;
    grid-template-areas:
        "step intensity"
        "time heart"
        "note note"
        "button button";
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    section {
        display: flex;
        flex-direction: column;
    }
    .submit {
        grid-area: button;
    }
    select,
    input {
        height: 2rem;
        background-color: #d9d9d9;
        border: none;
        outline: none;
    }
}
