

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.hero-section {
    display: flex;
    flex-direction: row;
    padding: 8rem;
    .hero-image {
        width: 50%;
        height: auto;

    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
}
