.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    align-items: center;
    background-color: #00a5cf;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }
    * {
        margin-right: 1rem;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.hero-section {
    display: flex;
    flex-direction: row;
    padding: 8rem;
    .hero-image {
        width: 50%;
        height: auto;

    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
    }
}
